//������λ��
.starryMixn(@left:50%,@top:50%, @margin: 0,@delay:0, @opacity:0.5) {
  position: absolute;
  left: @left*1px;
  top: @top*1px;
  opacity: @opacity;
  margin: @margin;
  transition-delay:@delay+3S ;
}
